## Overview

## Business Understanding

## Data Understanding

Import Libraries to use

In [117]:
# Perfom data manipulation and analysis.
import pandas as pd

# Perfoming mathematical calculations.
import numpy as np

# The two libraries below will aid in creating visualizations.
import matplotlib.pyplot as plt 
import seaborn as sns

Load Dataset

In [118]:
df = pd.read_csv('Files/medic.csv')

Display data

In [119]:
df

      age     sex     bmi  children smoker     region  medical charges
0      19  female  27.900         0    yes  southwest      16884.92400
1      18    male  33.770         1     no  southeast       1725.55230
2      28    male  33.000         3     no  southeast       4449.46200
3      33    male  22.705         0     no  northwest      21984.47061
4      32    male  28.880         0     no  northwest       3866.85520
...   ...     ...     ...       ...    ...        ...              ...
1333   50    male  30.970         3     no  northwest      10600.54830
1334   18  female  31.920         0     no  northeast       2205.98080
1335   18  female  36.850         0     no  southeast       1629.83350
1336   21  female  25.800         0     no  southwest       2007.94500
1337   61  female  29.070         0    yes  northwest      29141.36030

[1338 rows x 7 columns]

In [120]:
# create a copy
medic_df = df.copy()

Get to know data information - use the created copy

In [121]:
# basic info about our data
medic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              1338 non-null   int64
 1   sex              1338 non-null   object
 2   bmi              1338 non-null   float64
 3   children         1338 non-null   int64
 4   smoker           1338 non-null   object
 5   region           1338 non-null   object
 6   medical charges  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [122]:
# statistical information
medic_df.describe()

               age          bmi     children  medical charges
count  1338.000000  1338.000000  1338.000000      1338.000000
mean     39.207025    30.663397     1.094918     13270.422265
std      14.049960     6.098187     1.205493     12110.011237
min      18.000000    15.960000     0.000000      1121.873900
25%      27.000000    26.296250     0.000000      4740.287150
50%      39.000000    30.400000     1.000000      9382.033000
75%      51.000000    34.693750     2.000000     16639.912515
max      64.000000    53.130000     5.000000     63770.428010

#### Outliers

From the statistical iformation above, the dataset appear to contain outliers within medical charges feature.

We can confirm this by statistical methods(z-scores, IQR, standard deviation thresholds) and visualizations(boxplot, scatter plot, histogram) to visually identify outliers.

**statistical methods**

1. Z-Score Method

It measures how many standard deviations a data point is from the mean. Typically, a threshold (e.g., |Z| > 3) is used to identify outliers.

In [123]:
# Calculate Z-scores

mean = medic_df['medical charges'].mean()
std_dev = medic_df['medical charges'].std()

# create a new column(z-scores)
medic_df['z_score'] = (medic_df['medical charges'] - mean) / std_dev

# Identify outliers (e.g., Z-score threshold of 3) 
outliers = medic_df.loc[medic_df['z_score'].abs() > 3, ['medical charges','z_score'] ]

print(outliers)

      medical charges   z_score
34        51194.55914  3.131635
543       63770.42801  4.170104
577       58571.07448  3.740761
819       55135.40209  3.457055
1146      52590.82939  3.246934
1230      60021.39897  3.860523
1300      62592.87309  4.072866

From the results above:
    
I have identified 7 outliers within medical charges

In [124]:
# drop the z_score column
medic_df.drop(columns='z_score', inplace=True)

2. Interquartile Range (IQR) Method

The IQR method calculates outliers as data points below the first quartile (Q1) - 1.5 * IQR or above the third quartile (Q3) + 1.5 * IQR.

#### Visualizations